<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project detail</title>
  <link rel="stylesheet" href="/main.css" />
  <script src="https://kit.fontawesome.com/b7d13fbbc9.js" crossorigin="anonymous"></script>
</head>

<body class="body">
  <header class="header">
    <a class="header__link" href="/" class="link">
      <p class="header__text">
        <!-- <FontAwesomeIcon icon={faLaptopCode} size="2xl" /> -->
        <i class="header__icon fa-solid fa-laptop-code"></i>
        Programadoras Junior
      </p>
    </a>
    <a class="header__link" href="https://adalab.es/bootcamp-programacion/" target="_blank" rel="noreferrer">
      <img class="header__logo" src="/logo-adalab.png" alt="logo Adalab" />
    </a>
  </header>
  <main class="main">
    <h3 class="preview__title">Personal Project Card</h3>

    </section>
    <section class="preview">
      <section class="preview__image">
        <img class="preview__src" src="<%=photo%>" alt="#" />
      </section>
      <section class="preview__autor">
        <section class="preview__autor--infoproject project">
          <p class="project__subtitle">Personal Project Card</p>
          <hr class="project__line" />
          <h2 class="project__title">
            <%= name%>
          </h2>
          <p class="project__slogan">
            <%= slogan%>
          </p>
          <p class="project__desc">
            <%= description%>
          </p>
          <section class="project__technologies">
            <p class="project__technologies--text">
              <%= technologies%>
            </p>
            <div class="icon">
              <a href="<%= demo %>" rel="noreferrer" target="_blank" class="icon"><i class="fa-solid fa-globe"></i>
              </a>
              <a href="<%= repo %>" rel="noreferrer" target="_blank" class="icon">
                <i class="fa-brands  fa-github"></i>
                </i>
              </a>
            </div>
          </section>
        </section>

      </section>
    </section>
    </div>
    <section class="returnSection">
      <a class="link" href="http://localhost:3000/#/Archivo">
        <p class="return">VOLVER</p>
      </a>
    </section>
  </main>
  <footer class="footer">
    <a class="footer__link" href="https://adalab.es/bootcamp-programacion/" target="_blank" rel="noreferrer">
      <img class="footer__img" src="/logo-adalab.png" alt="logo Adalab" />
    </a>
  </footer>
</body>

</html>